<?xml version="1.0"?>
<model>
  <name>so_5dof_arm100_8j_urdf_sldasm</name>
  <version>1.0</version>
  <sdf version="1.5">urdf/so_5dof_arm100_8j_urdf_sldasm.urdf</sdf>
  <author>
    <name>User</name>
    <email>user@example.com</email>
  </author>
  <description>
    SO 5DOF Robot Arm Model
  </description>
</model>
